@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
#app {
  @apply bg-gray-100;
  min-height: 100vh;
  font-family:sans-serif;
}
.main-container {
  height: calc(100vh -52px);
  overflow-y: auto;
}
